@charset "utf-8";
.wrapper{
  position: absolute;
  top: 50%;
  left:50%;
  width: 400px;
  height: 200px;
  background-color: #ccc;
  -webkit-transform: translate3d(-50%,-50%,0);
  -moz-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
  -o-transform: translate3d(-50%,-50%,0);
  transform:  translate3d(-50%,-50%,0);
  overflow: hidden;
  &:before,&:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fc0;
  }
  &:before{
    top: -50px;
    left: -50px;
  }
  &:after{
    right: -50px;
    bottom: -50px;
  }
}